<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Dia06Prj</display-name>
  
  <servlet>
  	<servlet-name>HoraService</servlet-name>
  	<servlet-class>mx.edu.ulsaoaxaca.sistema.web.HoraService</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>HoraService</servlet-name>
  	<url-pattern>/hora.aspx/</url-pattern>
  </servlet-mapping>
</web-app>